name: Deploy Infrastructure

on:
  workflow_dispatch:
    inputs:
      env_name:
        description: 'Environment: dev/prod'
        required: true
      env_region:
        description: 'Region:'
        required: true

jobs:
  deploy-infra:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    env:
      ENV_NAME: unknown
      ENV_REGION: unknown
    steps:
    - name: Set Env
      run: |
        echo "ENV_NAME=${{ github.event.inputs.env_name }}" >> $GITHUB_ENV
        echo "ENV_REGION=${{ github.event.inputs.env_region }}" >> $GITHUB_ENV
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - name: Configure aws credentials
      uses: aws-actions/configure-aws-credentials@v5.1.1
      with:
        aws-region: ${{ env.ENV_REGION }}
        role-to-assume: arn:aws:iam::193347341732:role/GithubActionsRole

    - name: Set up Python 3.10
      uses: actions/setup-python@v6
      with:
        # Needs to be the same version as the execution environment of AWS Lambda, to make sure we download the correct dependencies
        python-version: "3.13"
    - uses: hashicorp/setup-terraform@v3
    - name: Run Terraform
      run: |
        cd terraform/envs/${{ env.ENV_NAME }}
        terraform init
        terraform apply --auto-approve
