name: Test

on: [push, pull_request]

jobs:

  unittest:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Update pip
        run: |
          python -m pip install --upgrade pip
      - name: Install project dependencies
        run: |
          pip install -r backend/requirements.txt
          pip install -r tests/requirements.txt
      - name: Run tests
        run: |
          pytest -sv --cov backend --cov-report xml tests
      - name: Upload coverage reports to Codecov
        if: ${{ github.repository == 'getmoto/payments'}}
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  test_terraform:
    name: "TerraForm tests"
    runs-on: ubuntu-latest

    services:
      motoserver:
        env:
          # Default LambdaImage providers (lambci, mlupin) do not support Python 3.13
          MOTO_DOCKER_LAMBDA_IMAGE: shogo82148/lambda-python:3.13
        image: ghcr.io/getmoto/motoserver:latest
        ports: 
         - 5000:5000

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Update pip
        run: |
          python -m pip install --upgrade pip
      - name: Install project dependencies
        run: |
          pip install -r backend/requirements.txt
      - uses: hashicorp/setup-terraform@v3
      - name: Run TF
        run: |
          mkdir ~/.aws && touch ~/.aws/credentials && echo -e "[default]\naws_access_key_id = test\naws_secret_access_key = test" > ~/.aws/credentials
          touch ~/.aws/config && echo -e "[default]\nregion = us-east-1" > ~/.aws/config
          make prep_test_env
          cd terraform/envs/test
          ls -la
          cat provider.tf
          terraform init
          terraform apply --auto-approve
          cd ../../..
      - name: Execute tests
        run: |
          pip install -r tests/requirements.txt
          pytest -sv --cov backend --cov-report xml integration_tests
      - name: Upload coverage reports to Codecov
        if: ${{ github.repository == 'getmoto/payments'}}
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
